extends ../layout

include ../mixins/_navbar

block header
  +navbar()
  
block content
  .container
    form.col.s12(action="/account/edit" method="POST" enctype="multipart/form-data")
      br
      .row
        .col.s12
          h5 My Profile
      br    
      .row
        .col.m2.push-m5.s4.push-s4
          img.circle.responsive-img(src=user.photo || '/images/photos/user.png') 
          .file-field.input-field
            .btn.waves-effect.waves-light.btn.primary-blue
              span Edit Photo
              input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
            .file-path-wrapper
              input.file-path.validate(type='text')  
      .row
        .input-field.col.m5.s12
          i.material-icons.prefix.fa.fa-user-o
          input#name(type='text', name='name', value=user.name)
          label(for='name') Username          
        .input-field.col.m5.push-m1.s12
          i.material-icons.prefix.fa.fa-envelope-o
          input#email.validate(type='email', name='email', value=user.email)
          label(for='email') Email
      .row
        .input-field.col.m5.s12
          i.material-icons.prefix.fa.fa-globe
          input#name(type='text', name='city', value=user.city)
          label(for='city') City          
        .input-field.col.m5.push-m1.s12
          i.material-icons.prefix.fa.fa-venus-mars
          input#email.validate(type='text', name='gender', value=user.gender)
          label(for='gender') Gender          
      .row
        .input-field.col.s12
          i.material-icons.prefix
            | mode_edit
          input#email.validate(type='text', name='bio', value=user.bio)
          label(for='bio') Bio
      .row
        .input-field.col.s12
          select(multiple='' id='activities')
            option(value='All' disabled='') What activities are you interested in?
            optgroup(label='Water')
              option(value='Surf' name='Surf') Surf
              option(value='Sailing' name='Sailing') Sailing
              option(value='Scuba-diving' name='Scuba-Diving') Scuba-diving
              option(value='Canoeing' name='Canoeing') Canoeing
            optgroup(label='Land')
              option(value='Climbing' name='Climbing') Climbing
              option(value='Backpacking' name='Backpacking') Backpacking
              option(value='Camping' name='Camping') Camping
              option(value='Hiking' name='Hiking') Hiking
          label Interests:
      br
      center
        .row
          button.col.s12.btn.btn-large.waves-effect.primary-blue(type='submit', name='btn-update') Update 
