extends layout

include mixins/_navbar
include mixins/_reviewForm

block header
  +navbar()
  
block content
  .fotorama(data-width="100%" data-height="70%" data-nav="thumbs" data-allowfullscreen="true" data-fit="cover" data-loop="true" data-keyboard="true" data-arrows="true" data-swipe="true" data-trackpad="true" data-navposition="top" data-thumbwidth='88px')
    for photo in plan.photos
      img(src=`/uploads/${photo}`)
  .row
    .col.m7.push-m1.s12.left-align
      h4.grey-text.text-darken-2.text-700.left-align= plan.title.toUpperCase()
      h6.black-text.text-500.spaced-text(style='padding-right:30px;')= plan.tagline 
      br
      ul.collapsible.popout(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons description
            | Full description
            i.material-icons.right arrow_drop_down
          .collapsible-body
            span= plan.description
      ul.collapsible.popout(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons local_mall
            | What to pack
            i.material-icons.right arrow_drop_down
          .collapsible-body
            span= plan.packlist   
      ul.collapsible.popout(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons directions_car
            | Parking & Transport
            i.material-icons.right arrow_drop_down
          .collapsible-body
            span= plan.parking        
      ul.collapsible.popout(data-collapsible='accordion')
        li
          .collapsible-header
            i.fa.fa-smile-o(aria-hidden="true")
            | Recommendations
            i.material-icons.right arrow_drop_down
          .collapsible-body.flow-text
            span= plan.recommendations    
      #planMap(style='height:300px;' lat=plan.location.coordinates[0] lng=plan.location.coordinates[1])
        .divider
    .col.m4.push-m1.s12(style='padding:10px 50px 0px 70px;')
      h6.black-text.text-700.padding-top-10 Tell a friend
      a.waves-effect.waves-light.btn-floating.blue.darken-2
        i.fa.fa-facebook(aria-hidden='true')
      a.waves-effect.waves-light.btn-floating.blue.margin-left-5
        i.fa.fa-twitter(aria-hidden='true')
      a.waves-effect.waves-light.btn-floating.grey.darken-2.margin-left-5
        i.fa.fa-envelope(aria-hidden='true')
      a.waves-effect.waves-light.btn-floating.green.darken-1.margin-left-5
        i.fa.fa-whatsapp(aria-hidden='true')   
      h6.black-text.text-700.padding-top-10 Download PDF
      a.waves-effect.waves-light.btn-floating.red.darken-1
        i.fa.fa-file-pdf-o(aria-hidden='true')  
      h6.black-text.text-700.padding-top-10 Activities
      - const activities = plan.activities
      each activity in activities
        .chip= activity
          img(src=`/images/icons/${activity}.png` || `/images/icons/symbolBlack.png`)
      h6.black-text.text-700.padding-top-10 Tags      
      - const tags = plan.tags
      each tag in tags
        .chip= tag
      h6.black-text.text-700.padding-top-10 Skill-Level
      .chip=plan.skillLevel   
      h6.black-text.text-700.padding-top-10 Minimum Time
      .chip= plan.mintime 
      h6.black-text.text-700.padding-top-10 Average Rating
        .yellow-text.text-darken-1.padding-top-10 ★★★★✩    
    .col.m7.push-m1.s12.left-align  
      h4.grey-text.text-darken-2.text-700.left-align Reviews
      if user
        +reviewForm(plan) 
      if plan.reviews 
        .row
          each review in plan.reviews      
            ul.collapsible(data-collapsible='accordion')
              li
                .collapsible-header
                  .right.orange-text
                    = "★".repeat(review.rating)
                    = "✩".repeat(5 - review.rating)
                  .left
                    i.fa.fa-user-o(aria-hidden='true')
                    | Alvaro  
                  .truncate.text-300(style='padding-left:10px;')= review.text  
                .collapsible-body
                  span= review.text
                  .grey-text.right(datetime=review.created)
                    = h.moment(review.created).fromNow()
      else              
        h4.center Be the first to leave a review!
  .row.plan-heart 
    form.heart(method="POST" action=`/api/plans/${plan._id}/heart`)
      - const heartStrings = user.hearts.map(obj => obj.toString())
      - const heartClass = heartStrings.includes(plan._id.toString()) ? 'primary-pink-text' : ''
      button.btn-floating.waves-effect.waves-light.transparent(type='submit' name='heart' )
        i.fa.fa-heart(aria-hidden='true' class=heartClass)
  .row.plan-done         
    form.done(method="POST" action=`/api/plans/${plan._id}/done`)
      - const doneStrings = user.dones.map(obj => obj.toString())
      - const doneClass = doneStrings.includes(plan._id.toString()) ? 'green-text' : ''
      button.btn-floating.waves-effect.transparent.waves-light(type='submit' name='done' )
        i.fa.fa-check(aria-hidden='true' class=doneClass)       
  .row.plan-edit            
    if user && plan.author.equals(user._id)
      a.btn-floating.waves-effect.transparent.waves-light(href=`/plans/${plan._id}/edit`)
        i.material-icons.right mode_edit  
        
