mixin navbarLanding()
  .navbar-fixed
    nav
      .nav-wrapper.nav-wrapper-landing.text-300
        // logo
        a.brand-logo.hide-on-med-and-down(href='/')
          img#nav-landing-logo(src='https://res.cloudinary.com/dx1s7kdgz/image/upload/v1494986580/outventure_white-01_gofmj3.png', alt='Logo')
        a.brand-logo.hide-on-med-and-up(href='/')
          img#nav-mobile-logo(src='https://res.cloudinary.com/dx1s7kdgz/image/upload/v1497369799/full_white_hkuuce.png', alt='Logo')
        // Hamburger
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
        // Desktop menu items
        ul.left.hide-on-med-and-down(style='padding-left:20vw;')
          li
            a(href='/')
              i.material-icons.left explore
              | EXPLORE
          li
            a.dropdown-button(href='#', data-activates='create-dropdown', data-beloworigin='true', data-constrainwidth='true')
              i.fa.fa-pencil-square-o.fa-lg.left(aria-hidden='true')
              | CREATE
              i.material-icons.right arrow_drop_down
          li
            a.dropdown-button(href='#', data-activates='about-us-dropdown', data-beloworigin='true', data-constrainwidth='true')
              | ABOUT US
              i.material-icons.right arrow_drop_down
        if user
          ul.right.hide-on-med-and-down
            li
              a.done-count(href='/account' style='font-size:24px;') #{user.dones.length}
            li(style="margin-left:-10px;")
              i.left.fa.fa-check(aria-hidden='true')
            li
              a.heart-count(href='/account' style='font-size:24px;') #{user.hearts.length}
            li(style="margin-left:-10px;padding-right:15px;")
              i.left.fa.fa-heart-o(aria-hidden='true')
            li(style="margin-top:8px;")  
              if user && user.photo
                img.avatar(src=`${user.photo}`)
              else
                img.avatar(src='/images/photos/user.png')
            li
              a.dropdown-button(href='#', data-activates='profile-dropdown', data-beloworigin='true', data-constrainwidth='true') #{user.name}
                i.material-icons.right arrow_drop_down
        else
          ul.right.hide-on-med-and-down
            a#login.waves-effect.waves-light.btn.transparent(href='/login', style='color:white!important;') Login
            a#register.waves-effect.waves-light.btn.white(href='#', style='margin-left:-10px;color:black!important;') Sign up
        ul#profile-dropdown.dropdown-content
          li
            a(href='/account') My Account
          li
            a(href='/logout') Logout
        ul#about-us-dropdown.dropdown-content
          li
            a(href='/purpose') Our Purpose
          li
            a(href='#') Blog
          li
            a(href='#') Become an expert
        ul#create-dropdown.dropdown-content
          li
            a(href='/addPlan') Adventure Idea
        ul#nav-mobile.side-nav
          if user
            // user view
            li
              .userView.center
                .background.primary-blue
                  img(src='http://www.colorhexa.com/2b3e50.png')
                a(href='/account' style="padding-left:104px;")
                  if user && user.photo
                    img.circle(src=`../uploads/${user.photo}`)
                  else
                    img.circle(src='/images/photos/user.png')
                a(href='/account' style="padding-bottom:20px;")
                  if user
                    span.white-text.name= user.firstName + " " + user.lastName
                .row
                  .col.s6   
                    i.fa.fa-check.green-text(aria-hidden='true')
                      a.done-count(href='/account' style='font-size:24px;') #{user.dones.length}
                  .col.s6                         
                    i.fa.fa-heart-o.red-text.text-lighten-1(aria-hidden='true')    
                      a.heart-count(href='/account' style='font-size:24px;') #{user.hearts.length} 
            // Profile
            li
              a.subheader My Account
            li.no-padding
            li
              a(href='/account')
                i.material-icons perm_identity
                | My Profile
            li
              a(href='/logout')
                i.material-icons exit_to_app
                | Logout    
            // Main Menu
            li
              a.subheader Main Menu
            li
              a(href='/')
                i.material-icons explore
                | Explore Adventures
            li
              a(href='/addPlan')
                i.material-icons edit
                | Create Idea                
            li
              a(href='/purpose')
                i.material-icons info_outline
                | About Us
            li
              a(href='/blog')
                i.material-icons picture_in_picture
                | Blog
          else
            li
              .userView
                .background.primary-blue
                  img(src='http://www.colorhexa.com/2b3e50.png')
                a(href='/login')
                  img.circle(src='/images/photos/user.png')
                a(href='#!name')
                  a#register.waves-effect.waves-light.btn.white(href='#', style='margin-left:-10px;color:black!important;') Register
                  a#login.waves-effect.waves-light.btn.transparent(href='/login', style='color:white!important;') Login
                a(href='#!email')
                  if user
                    span.white-text.email= user.email
            // Profile
            li
              a.subheader My Profile
            li.no-padding
            li
              a(href='/account')
                i.material-icons perm_identity
                | My Account
            li
              a(href='/addPlan')
                i.material-icons edit
                | Create Idea
            // Main Menu
            li
              a.subheader Main Menu
            li
              a(href='/')
                i.material-icons explore
                | Explore Adventures
            li
              a(href='/purpose')
                i.material-icons info_outline
                | About Us
            li
              a(href='/blog')
                i.material-icons picture_in_picture
                | Blog
