mixin planCard(plan = {})
  .col.m6.s12
    .card.medium
      .card-image.waves-effect.waves-block.waves-light
        img.activator(src=`/uploads/${plan.photo || 'canoeing.jpg'}`)
      .card-content
        span.card-title.activator.grey-text.text-darken-4= plan.title
          i.material-icons.right more_vert
        p= plan.skillLevel
        p= plan.description
      .card-reveal
        span.card-title.grey-text.text-darken-4= plan.title
          i.material-icons.right close
        p= plan.description
      a.btn-floating.midway-fab.waves-effect.teal.lighten-3.waves-light
        i.fa.fa-share-square-o(aria-hidden='true')
      a.btn-floating.halfway-fab.waves-effect.waves-light.primary-pink.lighten-1
        i.fa.fa-heart(aria-hidden='true')
      a.btn-floating.edit-fab.waves-effect.transparent.waves-light(href=`/plans/${plan._id}/edit`)
        i.fa.fa-pencil(aria-hidden='true')
